*{
  font-family: 'Courier New', Courier, monospace;
}


.todo-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  width: 30%;
  height: 30px;
}

button{
  width: 10%;
  height: 30px;
  margin: 10px 
}

.list-item{
  font-size: xx-large;
}